{% extends 'partials/base.html.twig' %}
{# {% set image = page.media.images|first %} #}
{% block content %}
	{% include 'partials/hero.html.twig' %}
	<main id="maincontent" tabindex="-1" role="main" itemscope itemprop="mainContentOfPage" itemtype="http://schema.org/WebPageElement">
	    <div class="wrapper">
			<div class="grid-container inner">
				<div class="grid-x grid-margin-x">
					{% if header.body_image %}
						{% set filename_ext = page.media[header.body_image].filename|split('1x') %}
		                {% set color = GetImageColor(page.media[header.body_image].path())[0] %}
		                <div class="cell medium-6 image-area" style="background-color: #{{ color }}">
		                    {{ page.media[header.body_image].sizes('(max-width:26em) 100vw, 50vw').width(page.media[header.body_image].width).height(page.media[header.body_image].height).html(filename_ext[0]|humanize|replace({'-' : " "}), filename_ext[0]|humanize|replace({'-' : " "}), 'lazy') }}
		                </div>
						<div class="cell medium-6">
							{{ page.content|raw }}
						</div>
					{% else %}
						<div class="cell small-12">
		                    {{ page.content|raw }}
		                </div>
		             {% endif %}
				</div>
			</div>
	    </div>
	</main>
{% endblock %}