{% extends 'partials/base.html.twig' %}

{% block content %}
	<main id="maincontent" tabindex="-1" role="main" itemscope itemprop="mainContentOfPage" itemtype="http://schema.org/WebPageElement">
	    <div class="wrapper">
			<div class="grid-container inner">
				<div class="grid-x grid-margin-x">
	                <div class="cell medium-6">
						{% set image_url = '/user/assets/error.jpg' %}
						<picture>
							<source data-src="{{ image_url|replace({'jpg' : "jpg.webp", 'jpeg' : 'jpeg.webp'}) }}" type="image/webp">
                        	<source data-src="{{ image_url }}" type="image/jpeg"> 
							<img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAApJREFUeNpjYAAAAAIAAeUn3vwAAAAASUVORK5CYII=" data-src="{{ image_url }}" alt="White Pomeranian puppy inside the washing machine." width="1920" height="1281">
						</picture>
					</div>
					<div class="cell medium-6">
						<h2 class="major" itemprop="headline">Whoops! Looks like this page doesn't exist.</h2>
	                    {# <p>The page you are looking for was moved, removed, renamed, or might have never existed.<br>Probably not the place you were looking for.</p> #}
						<p>Please visit the link below to go the home page:</p>
						<a class="special" href="{{ home_url }}">Home Page</a>
					</div>
				</div>
			</div>
	    </div>
	</main>
{% endblock %}
