.DS_Store
.htaccess
.github
*.sublime-project
*.sublime-workspace
assets
backup
bin
cache
images
logs
system
tmp
vendor
webserver-configs
user/accounts/*
user/assets/*
user/config/*
user/data/*
user/pages/*
user/plugins/*
user/themes/*
user/blueprints.yaml
user/LICENSE
user/screenshot.jpg
!user/themes/bubbleandsqueak
user/themes/bubbleandsqueak/node_modules/*
CHANGELOG.md
CODE_OF_CONDUCT.md
composer.json
composer.lock
CONTRIBUTING.md
index.php
LICENSE.txt
now.json
README.md
