<header class="banner bubbles-container bubbles-active {{ page.template }} lazy" role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div class="bubbles" id="bubbles1"></div>
    <div class="bubbles" id="bubbles2"></div>
    <div class="bubbles" id="bubbles3"></div>
    <div class="bubbles" id="bubbles4"></div>
	<div class="grid-container inner">
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				{% if page.header.title %}
					<h1 data-aos="fade" itemprop="headline">{{ page.title }}</h1>
				{% endif %}
				{% if content %}
					<div data-aos="fade" data-aos-delay="1000" itemprop="description">{{ content|raw }}</div>
				{% endif %}
			</div>
		</div>
	</div>
</header>