.footer {
	margin-top: -6.5rem;
	padding-top: 6.5rem;
	background-color: $secondary-color;
	//background-image: linear-gradient(to top, rgba($secondary-color, 0.7), rgba($secondary-color-darken-10, 0.7)), url('#{$asset-path}/img/footer-bg.jpg');
	background-size: auto, cover;
	background-position: center;
	background-attachment: fixed, fixed;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: linear-gradient(to top, rgba($secondary-color, 0.7), rgba($secondary-color-darken-10, 0.9))
	}

	@include breakpoint (medium down) {
		background-attachment: scroll;
	}

	a {
		color: $white;
		will-change: color;

		&:focus,
		&:hover {
			color: $anchor-color-hover;
		}

	}

	.second-column[data-aos] {

		@include breakpoint (small down) {
			 transition-delay: 0s;
		}

	}

	.social li {
		// font-size: $global-font-size;
		margin-bottom: $paragraph-margin-bottom;
		margin-right: rem-calc(30px);
	}

	.inner {
		padding-top: rem-calc(80px);
		padding-bottom: rem-calc(48px);
	}

	.button {
		transition: background-color $transition-time ease-in-out;
		background-color: transparent;
		border: $input-border;
		font-weight: $global-weight-bold;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		will-change: background-color;

		&:hover,
		&:focus {
			background: $input-background;
		}

	}

	.info-footer {
		margin-bottom: $paragraph-margin-bottom;
	}

	form {

		.button {
			font-size: $input-font-size;
		}

	}

	.copyright {
		text-transform: uppercase;
		margin-top: rem-calc(24px);
		padding-top: rem-calc(6.4px);
		border-top: solid medium rgba($white, 0.125);
		font-size: $small-font-size;

		a {
			padding: 0;
			text-decoration: underline;
			position: relative;
			will-change: color;
			

			&:hover {
				text-decoration: underline;
			}

		}

		> .menu-text {
			font-weight: $global-weight-normal;
		}

		li:nth-child(1) {
			padding-left: 0;

			@include breakpoint(medium down) {
		   		padding-right: 0;
			}


		}

		.copyright-text {

			.menu {

				@include breakpoint(medium down) {
			   		justify-content: center;
			   		text-align: center;
				}

			}

		}

		.copyright-logo {

			text-align: right;

			@include breakpoint(medium down) {
				text-align: center;
			}

			@include breakpoint(small down) {
				text-align: center;
				padding: $global-menu-padding;
			}

		}

		.icon-logo-mono {
			width: rem-calc(125px);
			height: rem-calc(45px);
			display: inline-block;
			fill: currentColor;
		}

	}

}

.callout.error {
	background-image: none;
	background-color: scale-color(get-color(alert), $lightness: 85%);
	color: get-color(alert);
}