// logo colours

.a {
	// stop-color: #05BFE2;
	stop-color: desaturate(lighten(get-color(secondary), 5%), 3%);
}

.b {
	// stop-color: #03B9DB;
	stop-color: desaturate(lighten(get-color(secondary), 3%), 1%);
}

.c {
	// stop-color: #01AFD0;
	stop-color: desaturate(lighten(get-color(secondary), 1%), 1%);
}

.d {
    stop-color: $secondary-color;
}

.e {
	// stop-color: #029BB8;
	stop-color: darken(get-color(secondary), 4%);
}

.st9 {
	fill: $primary-color;
}

.st10 {
	fill: $secondary-color;
}

.logo {

	a {

		.a,
		.b,
		.c,
		.d,
		.e {
			transition: stop-color $transition-time ease;
		}

		.st10 {
			transition: fill $transition-time ease;
		}

	}

}