// top navigation

.top-bar {
	color: $primary-color;

	.logo {
		text-align: center;

		a {
			padding: 0 $global-padding;

			svg {
				margin-bottom: 0;
			}

		}

		@include breakpoint(large down) {
			margin-bottom: $global-margin;
		}

	}

	// a:not(button),
	a:not(.button) {

		&:focus,
		&:hover {
			color: $primary-color;

			.a,
			.b,
			.c,
			.d,
			.e {
				stop-color: $primary-color;
			}

			.st10 {
				fill: $primary-color;
			}

		}

	}

	.menu.icon-top {
		font-weight: $global-weight-bold;

		@include breakpoint(large down) {
			font-size: rem-calc(14px);
			justify-content: center;
			border-top: thin solid $primary-color-lighten-20;

			a {
				padding: rem-calc(11.2px 9.6px);
			}

		}

		li {

			&.active {

				a {

					&:before {
						animation: menu-bubbles infinite 2s linear;
					}

					&:after {
						animation: menu-bubbles infinite 3s linear;
					}

				}

			}

			a {
				position: relative;

				&:before {
					content: '';
				    position: absolute;
				    right: 40%;
				    top: rem-calc(24);
				    width: rem-calc(8);
				    height: rem-calc(8);
				    background: $primary-color;
				    border-radius: 50%;
				    opacity: 0;
				}

				&:after {
					content: '';
				    position: absolute;
				    right: 40%;
				    top: rem-calc(4);
				    width: rem-calc(16);
				    height: rem-calc(16);
				    background: $primary-color;
				    border-radius: 50%;
				    opacity: 0;
				}

				&:hover,
				&:focus {

					&:before {
						animation: menu-bubbles infinite 2s linear;
					}

					&:after {
						animation: menu-bubbles infinite 3s linear;
					}

				}

			}

		}

	}

	.top-bar-left {

		@include breakpoint(xlarge up) {
			display: flex;
		}

	}

	.top-bar-right {

		.contact-info {

			@include breakpoint(large down) {
				flex-wrap: wrap;

				> div {
					flex: 0 0 100%;
					max-width: 100%;
					justify-content: center;
				}

			}

		}

		.button {
			margin-bottom: 0;
			margin-right: $global-margin;

			&:hover,
			&:focus {
				background: $primary-color;
			}

			@include breakpoint(large down) {
				margin-right: 0;
			}

		}

	}

	.info {
		margin-right: #{$global-margin * 2};

		@include breakpoint(large down) {
			margin-right: 0;
			margin-bottom: $global-margin;
			border-top: thin solid $primary-color-lighten-20;
			border-bottom: thin solid $primary-color-lighten-20;
			padding-top: #{$global-padding / 2};
			padding-bottom: #{$global-padding / 2};
		}

		@include breakpoint(large only) {
			border-top: 0px solid $primary-color-lighten-20;
			border-bottom: 0px solid $primary-color-lighten-20;
		}

	}

	.info-icon {
		margin-right: $global-margin;
		font-size: rem-calc(40px);
	}

	.info-title,
	.info-text {
		font-size: $small-font-size;
	}

	.info-title {
		font-weight: $global-weight-bold;
	}

	.info-text {
		font-weight: $global-weight-normal;
	}

}

@keyframes menu-bubbles {

	from {
		opacity: 0;
		transform: translate3d(0, rem-calc(40px), 0);
	}
  
	20% {
		opacity: 0.5;
		transform: translate3d(0, rem-calc(20px), 0);
	}
  
	70% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
  
	70% {
		opacity: 0;
		transform: translate3d(0, rem-calc(-10px), 0);
	}
  
	100% {
		opacity: 0;
		transform: translate3d(0, rem-calc(-20px), 0);
	}
  
  }